extends layout

block content
  div(ng-controller='HomeController as home' ng-cloak)
    h1 {{ home.title }}
    p Welcome to #{title}
    p Data: #{JSON.stringify(results)}
    a(href='/form' class='btn btn-default btn-xl') Start
