doctype html
html
  head
    title= title

    link(rel='stylesheet' type='text/css' href='/bower/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet' type='text/css' href='/bower/font-awesome/css/font-awesome.css')
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans")
    link(rel='stylesheet' type='text/css' href='/bower/angular-bootstrap/ui-bootstrap-csp.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src='/bower/jquery/dist/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa' crossorigin='anonymous')
    script(src='/bower/angular/angular.min.js')
    script(src='/bower/angular-animate/angular-animate.min.js')
    script(src='/bower/angular-cookies/angular-cookies.min.js')
    script(src='/bower/angular-touch/angular-touch.min.js')
    script(src='/bower/angular-ui-router/release/angular-ui-router.min.js')
    script(src='/bower/angular-bootstrap/ui-bootstrap-tpls.js')

    script(src='https://d3js.org/d3.v4.min.js')

    script(src='/javascripts/titanic.js')
    script(src='/javascripts/components/home-controller.js')
    script(src='/javascripts/components/form-controller.js')
    script(src='/javascripts/components/data-controller.js')
  body(ng-app='titanic')
    nav(class='navbar navbar-inverse navbar-fixed-top')
      div(class='container-fluid')
        div(class='navbar-header')
          button(type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#navbar' aria-expanded='false')
            span(class='sr-only') Toggle Navigation
            span(class='icon-bar')
            span(class='icon-bar')
            span(class='icon-bar')
        div(class='collapse navbar-collapse' id='navbar')
          ul(class='nav navbar-nav')
            li
              a(href='/') Home
            li
              a(href='/form') Form
            li
              a(href='/data') Data
    block content
